html
	head
		title!= title
		link(rel="stylesheet", href="/public/bootstrap/dist/css/bootstrap.min.css", type="text/css")
		script(src="/public/jquery/dist/jquery.min.js")
		script(src="/public/bootstrap/dist/js/bootstrap.min.js")
		script(src="/public/angular/angular.min.js")
		script(src="/public/angular-resource/angular-resource.min.js")

		// custome angular code here
		script(src="/public/js/apps/combatSimApp.js")

	body(ng-app="combatSimApp")
		nav.navbar.navbar-inverse.navbar-static-top
			div.container-fluid
				div.navbar-header
					a.navbar-brand Spaz Zone 2.0 Combat Simulator


		div(ng-controller="CombatSimController").container-fluid
			div.row
				div.col-md-6
					h1 Combatant #1
				div.col-md-6
					h1 Combatant #2
			div.row
				div.col-md-6
					form.form-horizontal
						div.form-group
							label(for="c1_name").col-sm-2.control-label Name
							div.col-sm-5
								input#c1_name(type="text", ng-model="combatant1.name").form-control

						div.form-group
							label(for="c1_power").col-sm-2.control-label Power
							div.col-sm-5
								input#c1_power(type="text", ng-model="combatant1.stats.power").form-control

						div.form-group
							label(for="c1_brawn").col-sm-2.control-label Brawn
							div.col-sm-5
								input#c1_brawn(type="text", ng-model="combatant1.stats.brawn").form-control

						div.form-group
							label(for="c1_agility").col-sm-2.control-label Agility
							div.col-sm-5
								input#c1_agility(type="text", ng-model="combatant1.stats.agility").form-control

						div.form-group
							label(for="c1_brains").col-sm-2.control-label Brains
							div.col-sm-5
								input#c1_brains(type="text", ng-model="combatant1.stats.brains").form-control

						div.form-group
							label(for="c1_cunning").col-sm-2.control-label Cunning
							div.col-sm-5
								input#c1_cunning(type="text", ng-model="combatant1.stats.cunning").form-control

						div.form-group
							label(for="c1_control").col-sm-2.control-label Control
							div.col-sm-5
								input#c1_control(type="text", ng-model="combatant1.stats.control").form-control

						div.form-group
							label(for="c1_looks").col-sm-2.control-label Looks
							div.col-sm-5
								input#c1_looks(type="text", ng-model="combatant1.stats.looks").form-control
						div.form-group
							label(for="c1_weapon").col-sm-2.control-label Weapon
							div.col-sm-5
								select.form-control(ng-model="combatant1.weapon", ng-options="w.name for w in weapons")
									option(value="") Please select a weapon


				div.col-md-6
					form.form-horizontal
						div.form-group
							label(for="c2_name").col-sm-2.control-label Name
							div.col-sm-5
								input#c2_name(type="text", ng-model="combatant2.name").form-control

						div.form-group
							label(for="c2_power").col-sm-2.control-label Power
							div.col-sm-5
								input#c2_power(type="text", ng-model="combatant2.stats.power").form-control

						div.form-group
							label(for="c2_brawn").col-sm-2.control-label Brawn
							div.col-sm-5
								input#c2_brawn(type="text", ng-model="combatant2.stats.brawn").form-control

						div.form-group
							label(for="c2_agility").col-sm-2.control-label Agility
							div.col-sm-5
								input#c2_agility(type="text", ng-model="combatant2.stats.agility").form-control

						div.form-group
							label(for="c2_brains").col-sm-2.control-label Brains
							div.col-sm-5
								input#c2_brains(type="text", ng-model="combatant2.stats.brains").form-control

						div.form-group
							label(for="c2_cunning").col-sm-2.control-label Cunning
							div.col-sm-5
								input#c2_cunning(type="text", ng-model="combatant2.stats.cunning").form-control

						div.form-group
							label(for="c2_control").col-sm-2.control-label Control
							div.col-sm-5
								input#c2_control(type="text", ng-model="combatant2.stats.control").form-control

						div.form-group
							label(for="c2_looks").col-sm-2.control-label Looks
							div.col-sm-5
								input#c2_looks(type="text", ng-model="combatant2.stats.looks").form-control
						div.form-group
							label(for="c2_weapon").col-sm-2.control-label Weapon
							div.col-sm-5
								select.form-control(ng-model="combatant2.weapon", ng-options="w.name for w in weapons")
									option(value="") Please select a weapon


			div.row
				div.col-md-12
					button.btn.btn-default(ng-click="onSubmitClick()") Run

			div.row
				div.col-md-12
					hr


			div.row
				div.col-md-3
					a(ng-show="downloadUrlRounds", href="{{ downloadUrlRounds }}") Rounds
				div.col-md-3
					a(ng-show="downloadUrlBattles", href="{{ downloadUrlBattles }}") Battles

			div.row
				div.col-md-12
					hr
