html
	head
		title!= title
		link(rel="stylesheet", href="/public/bootstrap/dist/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="/public/css/style.css", type="text/css")
		script(src="/public/jquery/dist/jquery.min.js")
		script(src="/public/bootstrap/dist/js/bootstrap.min.js")
		script(src="/public/angular/angular.min.js")
		script(src="/public/angular-resource/angular-resource.min.js")

		script(src="/public/js/lib-bundle.js")

		// custom angular code here
		script(src="/public/js/apps/combatSimApp.js")

	body(ng-app="combatSimApp")
		nav.navbar.navbar-inverse.navbar-static-top
			div.container-fluid
				div.navbar-header
					a.navbar-brand Spaz Zone 2.0 Combat Simulator


		div(ng-controller="CombatSimController").container-fluid
			div.row
				div.col-md-6
					h1 Combatant #1
				div.col-md-6
					h1 Combatant #2
			div.row
				div.col-md-6
					form.form-horizontal
						div.form-group
							label(for="c1_name").col-sm-2.control-label Name
							div.col-sm-5
								input#c1_name(type="text", ng-model="combatant1.name").form-control
							div.col-sm-2
								label.control-label Bonus

						// stats	
						div(ng-repeat="k in combatant1.Stats").form-group
							label(for="c1_{{ k }}").col-sm-2.control-label.stat-name {{ k }}
							div.col-sm-5
								input(id="c1_{{ k }}", type="text", ng-model="combatant1.stats[k]").form-control
							div.col-sm-2
								label.control-label {{ combatant1.calculateStatBonus(combatant1.stats[k]) || "" }}
						div.form-group
							label(for="c1_weapon").col-sm-2.control-label Weapon
							div.col-sm-5
								select.form-control(ng-model="combatant1.weapon", ng-options="w.name for w in weapons")
									option(value="", disabled) Please select a weapon

						div.form-group
							label.col-sm-2.control-label &nbsp;
							div.col-sm-5
								button.btn.btn-primary.reroll(ng-click="onRerollStatsClick(combatant1)") Reroll Stats


				div.col-md-6
					form.form-horizontal
						div.form-group
							label(for="c2_name").col-sm-2.control-label Name
							div.col-sm-5
								input#c2_name(type="text", ng-model="combatant2.name").form-control
							div.col-sm-2
								label.control-label Bonus

						// stats	
						div(ng-repeat="k in combatant2.Stats").form-group
							label(for="c2_{{ k }}").col-sm-2.control-label.stat-name {{ k }}
							div.col-sm-5
								input(id="c2_{{ k }}", type="text", ng-model="combatant2.stats[k]").form-control
							div.col-sm-2
								label.control-label {{ combatant2.calculateStatBonus(combatant2.stats[k]) || "" }}
						div.form-group
							label(for="c2_weapon").col-sm-2.control-label Weapon
							div.col-sm-5
								select.form-control(ng-model="combatant2.weapon", ng-options="w.name for w in weapons")
									option(value="", disabled) Please select a weapon

						div.form-group
							label.col-sm-2.control-label &nbsp;
							div.col-sm-5
								button.btn.btn-primary.reroll(ng-click="onRerollStatsClick(combatant2)") Reroll Stats


			div.row
				div.col-md-6.col-md-offset-3
					button#run-sim.btn.btn-success(ng-click="onSubmitClick()") Run Simulation

			div.row
				div.col-md-12
					hr


			div.row
				div.col-md-3
					a(ng-show="downloadUrlRounds", href="{{ downloadUrlRounds }}") Rounds
				div.col-md-3
					a(ng-show="downloadUrlBattles", href="{{ downloadUrlBattles }}") Battles

			div.row
				div.col-md-12
					hr
